.user-page-payment {
    width: 100%;
    .payment-container {
        width: 90%;
        margin: 0 auto;

        @include tablet_768 {
            width: 65%;
        }

        @include tablet_1024 {
            width: 55%;
        }

        @include desktop_1280 {
            width: 50%;
        }

        @include desktop_1536 {
            width: 45%;
        }
        @include desktop_1920 {
            width: 40%;
        }
    }

    .payment {
        background-color: #dee2e6;
        padding: 0.8rem;
        margin-bottom: 3rem;

        .payment-title {
            font-size: 1.5rem;
            color: #616161;
            font-weight: bold;
            text-align: center;
            padding: 0.8rem 0;
        }

        .payment-information-container {
            margin-bottom: 2rem;
            background-color: #fff;

            .payment-item-container {
                display: flex;
                justify-content: space-between;
                padding: 1rem 0.75rem;
                color: #515151;
                font-size: 0.9rem;
                font-weight: bold;
                border-bottom: 1px;
                border-color: #dee2e6;
                border-style: solid;
            }

            .payment-completed {
                color: green;
            }
        }

        .go-back-btn {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            padding: 0.7rem 2.2rem;
            border: none;
            text-decoration: none;
            color: #fff;
            font-weight: bolder;
            font-size: 1.1rem;
            background-color: #a67e64;
            line-height: 1.5rem;
            letter-spacing: 1px;
        }
    }
}
