// 優惠券頁面容器 (遮罩板)
.admin-page-coupon-modal {
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000085;
    transition: all 0.5s;

    // 模板容器
    .coupon-modal-container {
        position: absolute;
        z-index: 150;
        width: 95%;
        left: 2.5%;
        min-height: 40%;
        background-color: #ffffff;
        top: 2vh;
        padding: 0.75rem;
        box-sizing: border-box;

        @include mobile_414 {
            top: 6.25vh;
        }

        @include tablet_768 {
            width: 75%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include tablet_1024 {
            width: 65%;
        }

        @include desktop_1280 {
            width: 50%;
        }

        @include desktop_1536 {
            width: 40%;
        }
        @include desktop_1920 {
            width: 30%;
        }

        // 標題容器
        .modal-header-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0.5rem 0 2rem 0;

            // 標題 icon
            .coupon-modal-title,
            .bi-x-circle {
                font-size: 1.3rem;
                color: #818181;
                font-weight: bold;

                @include tablet_768 {
                    font-size: 1.4rem;
                }
            }

            .bi-x-circle {
                cursor: pointer;
            }
        }

        .coupon-name-container,
        .coupon-serial-number-container,
        .coupon-discount-container {
            margin-bottom: 1.2rem;

            .coupon-name,
            .coupon-serial-number,
            .coupon-discount {
                display: block;
                font-size: 1.1rem;
                font-weight: bold;
                color: #616161;
                margin-bottom: 0.4rem;
            }

            .coupon-name-input,
            .coupon-serial-number-input,
            .coupon-discount-input {
                box-sizing: border-box;
                font-size: 1rem;
                padding: 0.7rem;
                width: 100%;
                border: none;
                outline: 1px solid #8a8a8a;
                resize: none;
            }
        }

        // 截止區塊 是否啟用 的標題
        .coupon-deadline,
        .coupon-status-switch {
            display: block;
            font-size: 1.1rem;
            font-weight: bold;
            color: #616161;
            margin-bottom: 0.4rem;
        }

        // 兩欄 / 三欄 通用設定
        .coupon-deadline-three-columns-container,
        .coupon-deadline-two-columns-container {
            display: flex;
            flex-direction: row;

            select {
                flex: 1;
                height: 3rem;
                padding-left: 0.75rem;
                font-size: 1rem;
                font-weight: bold;
            }
        }
        // 三欄
        .coupon-deadline-three-columns-container {
            margin-bottom: 1rem;

            select:nth-child(2) {
                margin: 0 1rem;
            }
        }
        // 兩欄
        .coupon-deadline-two-columns-container {
            margin-bottom: 1.5rem;

            select:nth-child(1) {
                margin-right: 1rem;
            }
        }

        // 啟用狀態
        .coupon-status-switch-container {
            align-items: center;
            border: 1px solid #3d3c3c;
            display: flex;
            height: 44px;
            overflow: hidden;
            position: relative;
            width: 110px;
            margin-bottom: 2rem;

            // 做樣式
            .switch-label {
                &::before {
                    color: #616161;
                    content: "OFF";
                    left: 32px;
                    line-height: 32px;
                    margin: auto;
                    position: absolute;
                    width: 64px;
                }
                &::after {
                    content: "ON";
                    line-height: 32px;
                    position: absolute;
                    right: 32px;
                    width: 64px;
                }
                background-color: #616161;
                color: #ad7f60;
                cursor: pointer;
                font-size: 20px;
                font-weight: bold;
                height: 32px;
                left: 6px;
                margin: 0;
                position: absolute;
                text-align: center;
                transition: all 0.3s;
                width: 32px;
            }

            // 隱藏checkbox框
            .switch-checkbox {
                &:checked ~ .switch-label {
                    background-color: #ad7f60;
                    left: 70px;
                }
                opacity: 0;
            }
        }

        // 按鈕容器
        .modal-footer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .coupon-modal-cancel,
            .coupon-modal-create {
                border: none;
                padding: .8rem 3rem;
                font-size: 1rem;
                font-weight: bolder;
                color: #fff;
                background-color: #909090;
                cursor: pointer;
            }

            .coupon-modal-create {
                background-color: #a67e64;
            }
        }
    }
}

// 開啟模板樣式
.modal-active {
    opacity: 1;
    z-index: 100;
}
