.admin-page-navbar {
    width: 100%;
    height: 70px;

    @include mobile_414 {
        height: 80px;
    }

    @include tablet_768 {
        height: 85px;
    }

    @include tablet_1024 {
        height: 90px;
    }
    
    // 手機版 navbar頁面容器
    .navbar-mobile-container {
        width: 90%;
        margin: 1rem auto 0 auto;
        display: flex;
        flex-direction: column;

        @include tablet_768 {
            margin: 1.5rem auto 0 auto;
        }

        // 關閉手機版，切換成電腦版
        @include tablet_1024 {
            display: none;
        }

        // navbar上半容器
        .navbar-header-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-bottom: 1rem;
            align-items: center;

            @include mobile_414 {
                margin-bottom: 1.2rem;
            }

            @include tablet_768 {
                margin-bottom: 1.5rem;
            }

            // 頁面標題
            .navbar-title {
                flex: 8;
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
                color: #616161;

                @include tablet_768 {
                    flex: 14;
                }
            }

            // icon 通用樣式
            i {
                flex: 1;
                text-align: center;
            }
            // 漢堡樣式
            .bi-list {
                padding: 0.5rem 0.3rem;
                font-size: 1.5rem;
                border: 1px solid black;

                @include mobile_414 {
                    padding: 0.5rem 0.2rem;
                }

                @include tablet_768 {
                    padding: 0.6rem 0.1rem;
                }
            }
            // 加號樣式
            .bi-house-door,
            .bi-plus-lg,
            .bi-trash2-fill {
                padding: 0.7rem 0.4rem;
                font-size: 1.2rem;
                color: #fff;
                background-color: #a67164;

                @include mobile_414 {
                    padding: 0.8rem 0.2rem;
                }
            }

            .bi-house-door {
                background-color: #0cb460;
            }
            
            .bi-trash2-fill {
                background-color: #f35959;
            }
        }
    }

    // 電腦版 navbar頁面容器
    .navbar-desktop-container {
        display: none;

        @include tablet_1024 {
            display: block;
            width: 95%;
            margin: 1.5rem auto 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;

            // 頁面標題
            .navbar-title {
                flex: 7;
                font-size: 1.5rem;
                color: #515151;
                font-weight: bolder;

                @include desktop_1280 {
                    flex: 10;
                }

                @include desktop_1536 {
                    flex: 14;
                }

                @include desktop_1920 {
                    flex: 18;
                }
            }

            // 建立商品 按鈕
            .navbar-button {
                font-size: 1rem;
                font-weight: 750;
                line-height: 2.8rem;
                padding: 0 1rem;
                margin-left: 2rem;
                color: #ffffff;
                background-color: #a67e64;
                border: none;
                cursor: pointer;
            }

            .order-page-btn {
                background-color: #f35959;
            }
        }
    }
}

.home-page-navbar {
    height: 80px;

    @include tablet_1024 {
        height: 100px;
    }

    @include desktop_1280 {
        height: 120px;
    }
}
